<div id="homepage">
    <header>
        <h1>Welcome to MAGK Journal!</h1>
        <p>Capture the magic of every moment.</p>
    </header>


    <section id="about-general">
        <h2>Why Use MAGK Journal?</h2>
        <ul>
            <li><strong>Track Your Emotions:</strong> Log how you feel each day and start to notice patterns in your emotional well-being.</li>
            <li><strong>Measure Your Energy:</strong> Keep tabs on your energy levels to better understand what uplifts you or drains you.</li>
            <li><strong>Record Activities:</strong> Whether it's a quiet day reading or an adventurous outing with friends, track how your activities align with your mood.</li>
            <li><strong>Monitor Social Interactions:</strong> Reflect on your social engagements and their impact on your mood and energy.</li>
        </ul>
    </section>

    <section id="about-moodmeter">
        <h2>MoodMeter Analytics</h2>
        <p>Get a comprehensive overview with our MoodMeter, which provides analytics such as average emotion and energy levels as well as most common activities and social interactions.
            Use these insights to make informed decisions about your habits and lifestyle.
        </p>
    </section>

    <section id="getting-started">
        <h2>Getting Started</h2>
        <ol>
            <li><strong>Make Your First Entry:</strong> Easily add new journal entries from the dashboard.</li>
            <li><strong>Review Your Analytics:</strong> Check out the MoodMeter to see detailed analytics of your past entries.</li>
        </ol>
    </section>
</div>

