<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>MAGK Journal - {{pageTitle}}</title>
    <link rel="icon" href="../../public/images/favicon.ico" type="image/x-icon">

    {{!-- stylesheets --}}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../../public/css/styles.css" />

    {{!-- fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="nav-container">
        <nav>
            <a href="/">
                <img class="logo_home" src="../../public/images/logos/iconTransparent.png" alt="MAGK Logo">
            </a>
            <ul>
                <li>Profile</li>
                <li><a href="/entries">Entries</a></li>
                <li><a href="/moodMeter">Mood Meter</a></li>
                <li>Settings</li>
            </ul>
        </nav>
    </div>

    {{#unless hideEntryButton}}
    <div class="circle">
        <a class="plus" href="/entries/new">+</a>
    </div>
    {{/unless}}

    <main>
        {{{body}}}
    </main>

    {{!-- scripts --}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {{#each jsURLs}}
    <script src={{this}}></script>
    {{/each}}

</body>

</html>